/*
  This CSS file is for defining global properties.
  Minimize declaring classes here as it could
  cause CSS conflicts on child components.
*/

/*
  Define all variables here.
  Feel free to add yours when needed. */
:root {

  /* Color Codes */
  --color-bg: rgb(36, 42, 49);
  --color-surface: rgb(23, 30, 38);
  --color-surface-raised: rgb(19, 25, 33);
  
  /* Sizes */
  --size-gap: 2px;
}

body {
  margin: 0;
}

.app-container {
  background-color: var(--color-bg);
  padding-top: var(--size-gap);
  height: 100vh;
  box-sizing: border-box;
}

.app-container .app-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: var(--size-gap);
}
